<% layout('layouts/boilerplate') %>
    <%- include('../partials/navbar') %>
        <%- include('../partials/flash') %>

            <div class="row">
                <div class="col-lg-6 mt-4">
                    <div class="card mx-auto" style="width: 18rem;">
                        <img src="<%= foundProduct.img %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="card-title">
                                <%= foundProduct.name %>
                            </h2>
                            <h4 class="card-title">
                                <%= foundProduct.price %>
                            </h4>
                            <p class="card-text">
                                <%= foundProduct.desc %>
                            </p>
                            <% if(currentUser && currentUser.role==='seller' ){ %>
                                <a href="/products/<%=foundProduct._id%>/edit" class="btn btn-light">Edit</a>
                                <% } %>
                                    <form action="/user/<%=foundProduct._id%>/add" method="post" class="d-inline-block">
                                        <button class="btn btn-secondary">Add to cart </button>
                                    </form>
                                    <a href="#" class="btn btn-success">Buy</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <h1 class="display-5">Leave a review</h1>
                    <form action="/products/<%=foundProduct._id%>/review" method="POST">
                        <div class="mb-3">
                            <fieldset class="starability-basic">
                                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                                    aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="rating" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="rating" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="rating" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="rating" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="rating" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="comment">Comment:</label>
                            <textarea class="form-control" rows="3" name="comment" id="comment"> </textarea>
                            <button class="btn mt-3 btn-sm btn-success">Add Review</button>
                        </div>
                    </form>

                    <div class="my-3">
                        <% for(let review of foundProduct.reviews){ %>
                            <div class="card mt-3">
                                <p class="mx-2">
                                    <!-- To convert day & date to string -->
                                    <%=review.createdAt.toDateString() %>
                                </p>
                                <p class="starability-result" data-rating="<%=review.rating%>">
                                    <%= review.rating%>
                                </p>
                                <div class="card-body">
                                    <p class="card-text">
                                        Comment: <%= review.comment%>
                                    </p>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
            </body>

            </html>